body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.middle-container{
}
.bottom-container{
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.Get_in_touch{
  position: relative;
  bottom: 100px;
}
h1 {
  margin: 50px auto 0 auto;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-family: 'Akaya Telivigala', cursive;
  font-size: 2.1875rem;
  color: #66BFBF;
}
#sub{
  font-weight: normal;
  line-height: 2;
}
h3 {
  font-family: 'Akaya Telivigala', cursive;
  color:#11999E;
}

.des {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  top: 65px;
  right: 330px;
}

.bottom-cloud {
  position: absolute;
  top: 330px;
  left: 300px;
}
