body {
  background-color: #fff3e6;
}

h1 {
  color: #66bfbf;
}

h2 {
  color: #e6739f;
}

hr {
  background-color: white;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 4px;
  width: 5%
}

.submit:hover {
  background-color: #ff2e63;
}
